* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

body {
    background-image: linear-gradient(to left top, #385170, #384e69, #384c62, #39495c, #394655);
}
