.activity-feed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.af-posts-container {
    border: 1px black solid;
}

.post-info-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.post-info {
    display: flex;
    flex-direction: column;
}

.workout-pic {
    height: 300px;
    width: 400px;
}
.owner-pro-pic {
    height: 300px;
    width: 400px;
}
