.emf-map-container {
    width: 30vw;
    height: 25vh;
}

.emf-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.emf-item-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    color: #fff;
    padding: 5px;
    width: 20vw;
}

.edit-map-form-container {
    display: flex;
    background-color: #242424;
    padding: 20px;
    border-radius: 20px;
}

.emf-label {
    font-size: 20px;
    padding-bottom: 5px;
}

.emf-input {
    height: 4vh;
    width: 15vw;
    padding: 3px;
    border-radius: 5px;
}

.update-btn,
.edit-btn,
.delete-btn,
.dlt-route-btn {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    margin: 10px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    cursor: pointer;
}


.update-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
}

.dlt-route-btn:hover {
    transition: all 0.3s ease-out;
    background: red;
    color: #242424;
    transition: 250ms;
}

.ed-btn-container {
    display: flex;
    align-items: center;
    background-color: #242424;
    justify-content: center;
}

.dlt-route-container {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 25vw;
    align-items: center;
    background-color: #242424;
    justify-content: center;
    border-radius: 10px;
}

.dlt-route-label {
    display: flex;
    font-size: 20px;
    padding-bottom: 20px;
    color: #fff;
}
