.form-container {
    /* background: url('/react-app/public/images/image1.jpg') center center/cover no repeat; */
    display: flex;
    height: 100%;
    background-color: rgb(250, 250, 250);
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.login-form {
    background: linear-gradient(90deg, #fff 0%, #fff 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    border-radius: 10%;
    border: 1px solid;
    height: 65vh;
    width: 75vh;
    margin: 5rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-label {
    padding-bottom: 5px;
    margin: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.form-input {
    padding: 5px;
}

.error-message {
    color: red;
    padding-left: 5px;
}

.submit-btn {
    padding: 12px 26px;
    margin-top: 5px;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

  .submit-btn:hover {
    transition: all 0.3s ease-out;
    background: #242424;
    color: #fff;
    transition: 250ms;
  }

  .form-box-brand-text {
    font-size: 3rem;
    color: #242424;
  }

  .fa-strava {
    margin-left: 0.5rem;
    font-size: 3.8rem;
  }

  .login-logo-text {
    font-size: 1rem;
    padding: 10px;
  }
