.suf-container {
    background: url('https://capstone-strava-clone-aktiv.s3.us-west-2.amazonaws.com/hiking-image-1.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
}

.suf-container-inner {
    background: linear-gradient(90deg, transparent 0%, #fff 100%);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.319);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    border-radius: 10%;
    border: 1px solid;
    /* height: 80vh; */
    width: 75vh;
    margin: 5rem;
}

.suf-label {
    padding-bottom: 5px;
    color: #fff;
    margin: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.suf-input {
    padding: 5px;
}

.error-message {
    color: red;
    padding-left: 5px;
}

.suf-item-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}


.submit-btn {
    padding: 12px 26px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.424);
    /* background: linear-gradient(90deg, transparent 0%, #fff 100%); */
    margin-top: 5px;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
}

  .submit-btn:hover {
    transition: all 0.3s ease-out;
    background: #242424;
    color: #fff;
    transition: 250ms;
  }
