.route-info-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
    background-color: #385170;
}

.route-map-container {
    width: 50rem;
    height: 60rem;
}

.route-map-info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.user-propic {
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    object-fit: 100%;
    padding: 20px;
}

.route-pic-container {
    display: flex;
}
.route-pic {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.user-details-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ur-info-container {
    display: flex;
    flex-direction: row;
    color: #fff;
    padding: 10px;
}

.ri-items-container {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    margin-top: 130px;
    border-radius: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.ri-item {
    list-style-type: none;
    color: #242424;
    padding: 5px 7px;
}

.username-text {
    font-size: 3rem;
    text-decoration: none;
    color: #fff
}

.name-list li {
    list-style-type: none;
    padding: 1px 20px;
}

.user-details-container {
    width: 100%;
}

.ed-btn-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.comments-container {
    border: 1px black solid;
    background-color: #ececec;
    height: 15rem;
    width: 57rem;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;
}

.comm-box-container {
    display: flex;
    justify-content: flex-end;
}

.comm-pro-pic {
    width: 30px;
    height: 30px;
}

.comm-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 5px;
}

.comm-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
}

.comm-text {
    padding: 10px;
}

.comm-btn a{
    display: flex;
}

.add-btn-container {
    display: flex;
    justify-content: center;
    background-color: #242424;
    padding: 15px;
    border-radius: 10px;
}
