.afs-btn {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.afs-btn:hover {
    transition: all 0.3s ease-out;
    background: #242424;
    color: #fff;
    transition: 250ms;
}

.friend-alert-wrapper {
    display: flex;
    background-color: #242424;
    padding: 100px;
    border-radius: 20px;
}

.confirm-afs-btn {
    background-color: red;
    color: #fff;
    padding: 8px 20px;
    margin: 10px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.confirm-afs-btn:hover {
    transition: all 0.3s ease-out;
    background: transparent;
    color: #fff;
    transition: 250ms;
}
